body {
    background-color: none; 
}

#header {
    width: 100%;
    background-color: beige;
}

#nav {
    width:100%;
    background-color: aqua;
}

.menu {
    display: flex;
    background: aliceblue;
    justify-content: space-around;
    list-style-type: none
}

#main-content-wrapper {
    background-color: greenyellow;
    width: 80%
}

#aside-content-wrapper {
    background-color: plum;
    width: 20%
}